.hint {
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1.5px;
    border-style: dashed;
    font-weight: 500;
    border-color: var(--links);
}